@{
    ViewBag.Title = "About";
}
<h2>O nama</h2>
<h3>MEVsic glazbeni servis</h3>

<p>Ovo je glazbeni servis, napravljen od strane dvočlanog projektnog tima za predmet "Programski Alati u Programiranju".</p>
<p>Više o timu u kontaktima</p>
<p>Profesori predmeta : Bruno Trstenjak, Krešimir Kolac</p>
