@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BANA JOSIPA JELAČIĆA 22a<br />
    40 000 Čakovec<br />
    <abbr title="Phone">P:</abbr>
    +385(0)40396990
</address>

<address>
    <strong>Veleuciliste:</strong>   <a href="mailto:veleuciliste@mev.hr">veleuciliste@mev.hr</a><br />
    <strong>Referada:</strong> <a href="mailto:referada@mev.hr">referada@mev.hr</a>
</address>